{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% block head %}

    <!--====== Title ======-->
    <title>Home | Kushi Translations</title>

    <!-- ===== Styles for Particle JS =====-->
    <style>
        canvas {
            display: block;
        }


        /* ---- particles.js container ---- */

        #particles-js {
            height: 30vh;
            background-color: navy;
            background-image: url('');
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }

        .particles-container {
            margin: 0;
            padding: 0;
        }

        .button-contact {
            font-size: 30px;
            color: #fff;
            position: fixed;
            right: 90px;
            bottom: 20px;
            width: 60px;
            height: 60px;
            line-height: 60px;
            border-radius: 5px;
            background-color: navy;
            text-align: center;
            z-index: 99;
            border-color: navy;
            border-width: 2px;
            -webkit-transition: all 0.3s ease-out 0s;
            -moz-transition: all 0.3s ease-out 0s;
            -ms-transition: all 0.3s ease-out 0s;
            -o-transition: all 0.3s ease-out 0s;
            transition: all 0.3s ease-out 0s;
        }

        .button-contact:hover {
            color: navy;
            background-color: #fff;
        }
    </style>
    <link rel="stylesheet" href="{% static 'home/css/steps.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/counter.css' %}" />

    {% endblock %}
</head>

<body>

    {% block body %}
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <!--====== SLIDER PART START ======-->

    <section id="home" class="slider_area">
        <div id="carouselThree" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselThree" data-slide-to="0" class="active"></li>
                <li data-target="#carouselThree" data-slide-to="1"></li>
                <li data-target="#carouselThree" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                {% for slider in sliders %}
                <div class="carousel-item {% if slider.is_active %}active{% endif %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="slider-content">
                                    <h1 class="title" style="font-size:{{slider.title_size}}px;">{{slider.title}}</h1>
                                    <p class="text">
                                        {{slider.text}}
                                    </p>
                                    <ul class="slider-btn rounded-buttons">
                                        <li>
                                            <a class="main-btn rounded-one" href="{% url 'main_app:get_quote' %}">
                                                GET A FREE QUOTE
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- row -->
                    </div> <!-- container -->
                    <div class="slider-image-box d-none d-lg-flex align-items-end"
                        style="top:{{slider.image_space_top}}px;right:{{slider.image_space_right}}px;">
                        <div class="slider-image">
                            <img src="{{slider.image.url}}" alt="Hero">
                        </div> <!-- slider-imgae -->
                    </div> <!-- slider-imgae box -->
                </div> <!-- carousel-item -->
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#carouselThree" role="button" data-slide="prev">
                <i class="lni lni-arrow-left"></i>
            </a>
            <a class="carousel-control-next" href="#carouselThree" role="button" data-slide="next">
                <i class="lni lni-arrow-right"></i>
            </a>
        </div>
    </section>

    <!--====== SLIDER PART ENDS ======-->

    <!--====== GET STARTED PART START ======-->
    <section>
        <div class="steps-container">
            <div class="steps-container-text">
                <h6 class="steps-container-sub-title">HOW TO GET STARTED</h6>
                <h2 class="steps-container-title">
                    Few Simple Steps <br /> for Successful Business
                </h2>
            </div>
            <div class="row d-flex flex-row justify-content-center">
                <div class="steps-container-card col-10 col-md-3">
                    <div class="number-container d-flex flex-row justify-content-center">
                        <p class="steps-container-card-number">
                            01
                        </p>
                    </div>
                    <img src="{% static 'home/images/process1.png' %}" class="steps-container-card-image" />
                    <!-- <a href="{% url 'main_app:get_quote' %}"> -->
                    <h3 class="steps-container-card-heading">Get Quote</h3>
                    <!-- </a> -->
                    <p class="steps-container-card-description">Upload your documents. Fill in the details.</p>
                </div>
                <div class="steps-container-card col-10 col-md-3">
                    <div class="number-container d-flex flex-row justify-content-center">
                        <p class="steps-container-card-number">
                            02
                        </p>
                    </div>
                    <img src="{% static 'home/images/process2-1.png' %}" class="steps-container-card-image" />
                    <h3 class="steps-container-card-heading">Review</h3>
                    <p class="steps-container-card-description">Our domain experts will review your documents & share
                        expected time line for completion and price for the required services.</p>
                </div>
                <div class="steps-container-card col-10 col-md-3">
                    <div class="number-container d-flex flex-row justify-content-center">
                        <p class="steps-container-card-number">
                            03
                        </p>
                    </div>
                    <img src="{% static 'home/images/process3-1.png' %}" class="steps-container-card-image" />
                    <h3 class="steps-container-card-heading">Completion</h3>
                    <p class="steps-container-card-description">Review our services. Unlimited revisions. Recieve your
                        final documents.</p>
                </div>
            </div>
        </div>
    </section>
    <!--====== GET STARTED PART END ======-->

    <section id="services" class="features-area ">
        <div class="container">
            <div class="row">
                <!--====== FEATRES TWO PART START ======-->
                <section class="col-12 col-lg-6">
                    <div class="services-container">
                        <div class="steps-container-text">
                            <h2 class="steps-container-title">
                                Our Services
                            </h2>
                        </div>
                        <div class="row">
                            {% for service in services %}
                            <div class="services-container-card col-lg-5">
                                <i class="lni {{service.icon_code}} services-container-card-icon"
                                    style="font-size: 30px;"></i>
                                <h3 class="services-container-card-heading">{{service.title}}</h3>
                                <p class="services-container-card-description">{{service.description}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>

                <!--====== FEATRES TWO PART ENDS ======-->

                <!--====== About Us PART START ======-->

                <section class="col-12 col-lg-6" style="padding-top:0;">
                    <div class="services-container">
                        <div class="steps-container-text">
                            <h6 class="steps-container-sub-title">ABOUT US</h6>
                            <h2 class="steps-container-title">
                                Kushi Translations & Allied Services
                            </h2>
                        </div>
                        <p class="about-container-card-description">
                            According to the analysis of the recent census, there are 121 languages which are spoken by 10,000 or more people in India. A plethora of individuals struggle tocommunicate as they navigate their everyday lives. In the wake of globalization and rapid migrations, boundaries might have disappeared but not language barriers. Right from your birth certificates to complex legal documents, we often struggle to decode the true intent of such texts.  Just as a lack of understanding can be disconcerting, the experience of being understood is empowering. Empower yourself with our language solutions where language barriers no longer exist. Expand your reach & limits with our affordable translations and other allied services. With our dedicated team of translators and domain experts, we deliver quality services tailored to your needs. 
                        </p>

                    </div>
                </section>

                <!--====== About Us PART ENDS ======-->
            </div>
        </div>
    </section>


    <!--====== Counter PART START ======-->
    <section>
        <div id="projectFacts" class="sectionClass">
            <div class="fullWidth eight columns">
                <div class="projectFactsWrap d-flex flex-row justify-content-center">
                    {% for counter in counter_items %}
                    <div class="item wow fadeInUpBig animated animated" style="visibility: visible;">
                        <i class="fa fa-briefcase"></i>
                        <p id="number{{counter.pk}}" class="number">{{counter.number}}</p>
                        <p>{{counter.name}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--====== Counter PART ENDS ======-->

    <!--====== WHY US PART START ======-->
    <section>
        <div class="steps-container">
            <div class="steps-container-text">
                <!-- <h6 class="steps-container-sub-title">HOW TO GET STARTED</h6> -->
                <h2 class="steps-container-title m-5">
                    Why Choose Our <br> Translation Services
                </h2>
            </div>
            <div class="container">
                <div class="row d-flex flex-row justify-content-center">
                    {% for why in whys %}
                    <div class="col-10 col-lg-3">
                        <i class="lni {{why.icon_code}} why-icon"></i>
                        <h3 class="steps-container-card-heading mb-3">{{why.title}}</h3>
                        <p class="steps-container-card-description">{{why.description}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--====== WHY US PART END ======-->

    <!--====== PARTICLE JS PART START ======-->
    <section>
        <div class="container particles-container">
            <div class="row">
                <!-- particles.js container -->
                <div id="particles-js"></div>
            </div> <!-- row -->
        </div>
    </section>

    <!--====== PARTICLE JS PART END ======-->

    <!--====== ABOUT PART START ======-->

    <section id="about" class="about-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="faq-content mt-45">
                        <div class="about-title">
                            <h6 class="sub-title">A Little More About Us</h6>
                            <h4 class="title">Frequently Asked Questions <br> About Our Site</h4>
                        </div> <!-- faq title -->
                        <div class="about-accordion">
                            <div class="accordion" id="accordionExample">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            {% for faq in faqs1 %}
                                            <div class="card">
                                                <div class="card-header" id="heading{{faq.pk}}">
                                                    <a href="#" class="collapsed" data-toggle="collapse"
                                                        data-target="#collapse{{faq.pk}}" aria-expanded="false"
                                                        aria-controls="collapse{{faq.pk}}">{{faq.question}}</a>
                                                </div>

                                                <div id="collapse{{faq.pk}}" class="collapse"
                                                    aria-labelledby="heading{{faq.pk}}" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p class="text">{{faq.answer}}</p>
                                                    </div>
                                                </div>
                                            </div> <!-- card -->
                                            {% endfor %}
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            {% for faq in faqs2 %}
                                            <div class="card">
                                                <div class="card-header" id="heading{{faq.pk}}">
                                                    <a href="#" class="collapsed" data-toggle="collapse"
                                                        data-target="#collapse{{faq.pk}}" aria-expanded="false"
                                                        aria-controls="collapse{{faq.pk}}">{{faq.question}}</a>
                                                </div>

                                                <div id="collapse{{faq.pk}}" class="collapse"
                                                    aria-labelledby="heading{{faq.pk}}" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p class="text">{{faq.answer}}</p>
                                                    </div>
                                                </div>
                                            </div> <!-- card -->
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- faq accordion -->
                    </div> <!-- faq content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->

    <!--====== STRIP START ======-->

    <div style="background-color: navy; height:20vh;">
    </div>
    <!--====== STRIP END ======-->

    <!--====== TESTIMONIAL PART START ======-->

    <section id="testimonial" class="testimonial-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-5 col-lg-6">
                    <div class="testimonial-left-content mt-auto">
                        <h6 class="sub-title">Testimonials</h6>
                        <h4 class="title">What Clients Says <br> About Us</h4>
                        <ul class="testimonial-line">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <p class="text">
                            Client testimonials mirror our efforts and care taken to complete each assignments entrusted to us. They not only act as a guiding force for our future clients but also encourages us to strive harder to provide quality outputs. Our customers are our brand advocates, they instill confidence, boosts our credibility and builds trust. Amongst the plethora of testimonials we received, here are a few for your kind referance before  you proceed.
                        </p>
                    </div> <!-- testimonial left content -->
                </div>
                <div class="col-lg-6">
                    <div class="testimonial-right-content mt-50">
                        <div class="quota">
                            <i class="lni lni-quotation"></i>
                        </div>
                        <div class="testimonial-content-wrapper testimonial-active">

                            {% for testimonial in testimonials %}
                            <div class="single-testimonial">
                                <div class="testimonial-text">
                                    <p class="contact">“{{testimonial.quotation}}”</p>
                                </div>
                                <div class="testimonial-author d-sm-flex justify-content-between">
                                    <div class="author-info">
                                        <div class="author-name media-body">
                                            <h5 class="name">{{testimonial.name}}</h5>
                                            <span class="sub-title">{{testimonial.designation}}</span>
                                        </div>
                                    </div>
                                    {% comment %} <div class="author-review">
                                        <ul class="star">
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                            <li><i class="lni lni-star-filled"></i></li>
                                        </ul>
                                        <span class="review">( 7 Reviews )</span>
                                    </div> {% endcomment %}
                                </div>
                            </div> <!-- single testimonial -->
                            {% endfor %}
                        </div> <!-- testimonial content wrapper -->
                    </div> <!-- testimonial right content -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TESTIMONIAL PART ENDS ======-->

    <!--====== STRIP START ======-->

    <div style="background-color: navy; height:20vh;">
    </div>
    <!--====== STRIP END ======-->

    <!--====== TEAM START ======-->

    <section id="team" class="team-area pt-100 pb-130">
        <div class="steps-container">
            <div class="steps-container-text">
                <!-- <h6 class="steps-container-sub-title">HOW TO GET STARTED</h6> -->
                <h2 class="steps-container-title m-5">
                    Contact Our <br> Translation Company
                </h2>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 d-flex flex-column justify-content-start">
                        <div class="contact-box">
                            <i class="lni lni-phone why-icon"></i>
                            <h3 class="contact-box-heading mb-3">Call</h3>
                            <p class="contact"></p>
                            <p class="contact-box-description">+91 7411604598</p>
                        </div>
                        <div class="contact-box">
                            <i class="lni lni-envelope why-icon"></i>
                            <h3 class="contact-box-heading mb-3">Email</h3>
                            <p class="contact"> </p>
                            <p class="contact-box-description">kushitranslations@gmail.com</p>
                        </div>
                        <div class="contact-box">
                            <i class="lni lni-home why-icon"></i>
                            <h3 class="contact-box-heading mb-3">Office</h3>
                            <p class="contact"></p>
                            <p class="contact-box-description">Kuvempu Layout, Devasandra, Krishnarajapuram, Bengaluru,
                                Karnataka - 560036</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8 img-contact"></div>
                </div>
            </div>
        </div>
    </section>

    <!--====== TEAM  ENDS ======-->

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body" style="padding:0;">

                    <!--====== CONTACT PART START ======-->

                    <section id="contact" class="contact-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="contact-wrapper form-style-two pt-115">
                                        <h4 class="contact-title pb-10"><i class="lni lni-envelope"></i> Leave <span>A
                                                Message.</span>
                                        </h4>

                                        <form id="contact-form" action="/send_message" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-input mt-25">
                                                        <label>Name</label>
                                                        <div class="input-items default">
                                                            <input name="name" type="text" placeholder="Name">
                                                            <i class="lni lni-user"></i>
                                                        </div>
                                                    </div> <!-- form input -->
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-input mt-25">
                                                        <label>Email</label>
                                                        <div class="input-items default">
                                                            <input type="email" name="email" placeholder="Email">
                                                            <i class="lni lni-envelope"></i>
                                                        </div>
                                                    </div> <!-- form input -->
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-input mt-25">
                                                        <label>Subject</label>
                                                        <div class="input-items default">
                                                            <input name="subject" placeholder="Subject"></input>
                                                            <i class="lni lni-pencil-alt"></i>
                                                        </div>
                                                    </div> <!-- form input -->
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-input mt-25">
                                                        <label>Message</label>
                                                        <div class="input-items default">
                                                            <textarea name="message" placeholder="Message"></textarea>
                                                            <i class="lni lni-pencil-alt"></i>
                                                        </div>
                                                    </div> <!-- form input -->
                                                </div>
                                                <p class="form-message"></p>
                                                <div class="col-md-12">
                                                    <div class="form-input light-rounded-buttons mt-30">
                                                        <button class="main-btn light-rounded-two">Send Message</button>
                                                    </div> <!-- form input -->
                                                </div>
                                            </div> <!-- row -->
                                        </form>
                                    </div> <!-- contact wrapper form -->
                                </div>
                            </div> <!-- row -->
                        </div> <!-- container -->
                    </section>

                    <!--====== CONTACT PART ENDS ======-->

                </div>

            </div>
        </div>
    </div>


    <!--====== BACK TOP TOP PART START ======-->

    <button type="button" class="button-contact" data-toggle="modal" data-target="#exampleModalCenter">
        <i class="lni lni-envelope"></i>
    </button>
    <a href="#" class="back-to-top"><i class="lni lni-chevron-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->

    <!--====== PART START ======-->

    <!--
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-">

                </div>
            </div>
        </div>
    </section>
-->

    <!--====== PART ENDS ======-->
    {% endblock %}



    {% block js %}

    <!--====== Jquery js ======-->
    <script src="{% static 'home/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'home/js/vendor/modernizr-3.7.1.min.js' %}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>

    <!--====== Slick js ======-->
    <script src="{% static 'home/js/slick.min.js' %}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{% static 'home/js/jquery.magnific-popup.min.js' %}"></script>

    <!--====== Ajax Contact js ======-->
    <script src="{% static 'home/js/ajax-contact.js' %}"></script>

    <!--====== Isotope js ======-->
    <script src="{% static 'home/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'home/js/isotope.pkgd.min.js' %}"></script>

    <!--====== Scrolling Nav js ======-->
    <script src="{% static 'home/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'home/js/scrolling-nav.js' %}"></script>

    <!--====== Main js ======-->
    <script src="{% static 'home/js/main.js' %}"></script>
    <!-- scripts -->
    <script src="{% static 'home/particlesjs/particles.js' %}"></script>
    <script src="{% static 'home/particlesjs/app.js' %}"></script>

    {% endblock %}

</body>

</html>